<!---->
<div class="container" >
    <h5>Crud de Productos</h5>

    <div class="col-md-23" style="margin-top: 3%">


        <div class="row" style="height: 80px">
            <div class="col-md-4">
                <input [(ngModel)] = "filtro"  class="form-control"  id="id_txt_filtro" name="filtro" placeholder="Ingrese el nombre" type="text" maxlength="30" />
            </div>
            <div class="col-md-2">
                <button type="button" class="btn btn-primary" id="id_btn_filtrar" style="width: 150px" (click)="consulta()">Filtrar</button>
            </div>
            <div class="col-md-2">
                <button  type="button" data-toggle='modal' data-target="#idModalRegistrar" class='btn btn-success' style="width: 150px">Registrar</button>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="content">

                    <table id="id_table" class="table table-striped table-bordered">
                        <thead>
                            <tr>
                               
                                <th>ID</th>
                                <th>Nombre</th>
                                <th>Serie</th>
                                <th>Pais</th>
                                <th>Estado</th>
                                <th style="width: 7%"></th>
                                <th style="width: 7%"></th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let aux of productos">
                                <td>{{ aux.idProducto }}</td>   
                                <td>{{ aux.nombre }}</td>   
                                <td>{{ aux.serie }}</td>  
                                <td>{{ aux.pais?.nombre }}</td>   
                                 <td>{{ aux.estado==1?'Activo':'Inactivo' }}</td>
                                <td>
                                    <div class="custom-control custom-switch">
                                        <input type="checkbox" class="custom-control-input" id="idEstado_{{ aux.idProducto}}" [checked]="aux.estado==1?true:false" name="estado" (change)="actualizaEstado(aux)" />         
                                        <label class="custom-control-label" for="idEstado_{{ aux.idProducto }}"></label>
                                    </div>    
                                </td>
                                <td><button type="button" style="width: 90px" class="btn btn-primary btn-sm"  data-toggle="modal" data-target="#idModalActualizar" (click)="buscar(aux)" >Editar</button></td>
                                
                                <td><button type="button" style="width: 90px" class="btn btn-danger btn-sm"  (click)="elimina(aux)" >Eliminar</button></td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>


    <div class="modal fade"  id="idModalRegistrar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">

        <div class="modal-dialog" style="max-width: 70%;">
            <div class="modal-content" >

                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Registro de Docente</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                
                <div class="modal-body">
                    <form class="content"  (ngSubmit)="registra()" #registraForm="ngForm">
                        <div class="submit-form">
                            
                                <div  class="row">
                                    <div class="col-lg-4">
                                        <label for="id_reg_nombre">Nombre</label>

                                        <input  [(ngModel)]="producto.nombre" type="text" placeholder="Ingrese el nombre" class="form-control" name="nombre" id="id_reg_nombre" #validaNombre="ngModel" required pattern="[a-zA-Z ]{3,30}"/>

                                        <div *ngIf="validaNombre.invalid && (validaNombre.dirty || validaNombre.touched)" class="alert alert-danger">
                                            <div *ngIf="validaNombre.errors?.['required']">
                                                El nombre es obligatorio
                                            </div>   
                                            <div *ngIf="validaNombre.errors?.['pattern']">
                                                El nombre es de 3 a 30 caracteres
                                            </div> 
                                         </div>   
                                    </div>
                                    
                                    <div class="col-lg-4">
                                        <label for="id_reg_dni">Serie</label>
                                        <input  [(ngModel)]="producto.serie"  type="text" min="1"placeholder="Ingrese Nº de Serie" class="form-control" name="dni" id="id_reg_dni"  #validaSerie="ngModel" required pattern="[0-9]{9}"/>

                                        <div *ngIf="validaSerie.invalid && (validaSerie.dirty || validaSerie.touched)" class="alert alert-danger">
                                            <div *ngIf="validaSerie.errors?.['required']">
                                                Nº de Serie es obligatorio
                                            </div>  
                                            <div *ngIf="validaSerie.errors?.['pattern']">
                                                Nº de Serie es de 9 dígitos
                                             </div>    
                                       </div> 
                                    </div>
                                    <div class="col-lg-4">
                                        <label for="durabilidad">Durabilidad</label>
                                        <select  id="durabilidad" name="durabilidad" class="form-control" [(ngModel)]="producto.durabilidad" 
                                        #validaDurable="ngModel" required>
                                            <option value=""> [Seleccione] </option>   
                                            <option value="Fragil"> Fragil </option>
                                            <option value="Durable"> Durable </option>
                                        </select>
                                        <div *ngIf="validaDurable.invalid && (validaDurable.dirty || validaDurable.touched) " class="alert alert-danger">
                                            La durabilidad es obligatorio
                              </div>
                                    </div>
                                </div>


                                <div class="row" style="margin-top: 5%">
                                    
                                   

                                    <div class="col-lg-4">
                                        <label for="fechaVigencia">Fecha Vigencia</label>
                                        <input type="date"  class="form-control" id="fechaVigencia"  name="fechaVigencia"   [(ngModel)]="producto.fechaVigencia" #validaFecha="ngModel" pattern="^(19|20)(((([02468][048])|([13579][26]))-02-29)|(\d{2})-((02-((0[1-9])|1\d|2[0-8]))|((((0[13456789])|1[012]))-((0[1-9])|((1|2)\d)|30))|(((0[13578])|(1[02]))-31)))$"   />
                                        <div *ngIf="validaFecha.invalid && (validaFecha.dirty || validaFecha.touched) " class="alert alert-danger">
                                            La Fecha es obligatorio
                                         </div>
                                    </div>
                                
                                    <div class="col-lg-4">
                                            <label for="precio">Precio</label>
                                            <input type="text"  class="form-control" id="precio"  name="precio"  [(ngModel)]="producto.precio" #validaPrecio="ngModel" required pattern="[0-9]{2}"/>

                                            <div *ngIf="validaPrecio.invalid && (validaPrecio.dirty || validaPrecio.touched)" class="alert alert-danger">
                                                <div *ngIf="validaPrecio.errors?.['required']">
                                                    Precio es obligatorio
                                                </div>  
                                                <div *ngIf="validaPrecio.errors?.['pattern']">
                                                    Precio es de 2 dígitos
                                                 </div>    
                                           </div> 
                                    </div>
                            
                                    <div class="col-lg-4">
                                        <label for="stock">Stock</label>
                                        <input type="text"  class="form-control" id="stock"  name="stock" maxlength="40" [(ngModel)]="producto.stock" #validaStock="ngModel" required pattern="[0-9]{2}"/>

                                        <div *ngIf="validaStock.invalid && (validaStock.dirty || validaStock.touched)" class="alert alert-danger">
                                            <div *ngIf="validaStock.errors?.['required']">
                                                Nº de Stock es obligatorio
                                            </div>  
                                            <div *ngIf="validaStock.errors?.['pattern']">
                                                Nº de Stock es de 2 dígitos
                                             </div>    
                                       </div> 
                                    </div>
                            
                                       
                                 </div>

                                    
                            
                                    
                                 <div class="row" style="margin-top: 5%">
                                   
                                
                                    <div class="col-lg-4">
                                        <label for="marca">Marca</label>
                                        <select  id="marca" name="marca" class="form-control"[(ngModel)]="producto.marca!.idMarca" #validaMarca="ngModel" pattern="[0-9]{1,9}" >
                                            <option value="-1"> [Seleccione] </option>   
                                            <option *ngFor="let aux of marcas" value="{{aux.idMarca}}">
                                                {{aux.nombre}}    
                                                </option> 
                                        </select>
                                        <div *ngIf="validaMarca.invalid && (validaMarca.dirty || validaMarca.touched) " class="alert alert-danger">
                                            La marca es obligatorio
                                         </div>
                                    </div>
                            
                                    <div class="col-lg-4">
                                        <label for="pais">Pais</label>
                                        <select  id="pais" name="pais" class="form-control" [(ngModel)]="producto.pais!.idPais" #validaPais="ngModel" pattern="[0-9]{1,9}"  >
                                            <option value="-1"> [Seleccione] </option>   
                                            <option *ngFor="let aux of paises" value="{{aux.idPais}}">
                                                {{aux.nombre}}    
                                                </option> 
                                        </select>
                                        <div *ngIf="validaPais.invalid && (validaPais.dirty || validaPais.touched) " class="alert alert-danger">
                                            Pais es obligatorio
                                         </div>
                                    </div>
                                
                                </div>

                        </div> 
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal" id="btn_reg_cerrar" style="width: 100px;">Close</button>
                            <button type="reset" class="btn btn-secondary" id="btn_reg_limpiar" style="width: 100px;">Limpiar</button>
                            <div class="form-group text-center">
                                <div class="col-lg-12">
                                    <button id="id_reg_registra"  class="btn btn-success form-control"style="width: 100px;"  [disabled]="!registraForm.form.valid">Registrar</button>
                                </div>
                            </div>
                        </div>

               
                    </form>
                </div>



            </div>
        </div>
    </div>

    <div class="modal fade" id="idModalActualizar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="max-width: 80%;">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Actualización de docente</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                         <span aria-hidden="true">&times;</span>
                     </button>
                </div>
                <div class="modal-body">

                    <form class="content" (ngSubmit)="actualiza()" #actualizaForm="ngForm">
                        <div class="submit-form">
                            
                            <div  class="row">
                                <div class="col-lg-4">
                                    <label for="id_reg_nombre">Nombre</label>

                                    <input  [(ngModel)]="producto.nombre" type="text" placeholder="Ingrese el nombre" class="form-control" name="nombre" id="id_reg_nombre" #validaNombre="ngModel" required pattern="[a-zA-Z ]{3,30}"/>

                                    <div *ngIf="validaNombre.invalid && (validaNombre.dirty || validaNombre.touched)" class="alert alert-danger">
                                        <div *ngIf="validaNombre.errors?.['required']">
                                            El nombre es obligatorio
                                        </div>   
                                        <div *ngIf="validaNombre.errors?.['pattern']">
                                            El nombre es de 3 a 30 caracteres
                                        </div> 
                                     </div>   
                                </div>
                                
                                <div class="col-lg-4">
                                    <label for="id_reg_dni">Serie</label>
                                    <input  [(ngModel)]="producto.serie"  type="text" min="1"placeholder="Ingrese Nº de Serie" class="form-control" name="dni" id="id_reg_dni"  #validaSerie="ngModel" required pattern="[0-9]{9}"/>

                                    <div *ngIf="validaSerie.invalid && (validaSerie.dirty || validaSerie.touched)" class="alert alert-danger">
                                        <div *ngIf="validaSerie.errors?.['required']">
                                            Nº de Serie es obligatorio
                                        </div>  
                                        <div *ngIf="validaSerie.errors?.['pattern']">
                                            Nº de Serie es de 9 dígitos
                                         </div>    
                                   </div> 
                                </div>
                                <div class="col-lg-4">
                                    <label for="durabilidad">Durabilidad</label>
                                    <select  id="durabilidad" name="durabilidad" class="form-control" [(ngModel)]="producto.durabilidad" 
                                    #validaDurable="ngModel" required>
                                        <option value=""> [Seleccione] </option>   
                                        <option value="Fragil"> Fragil </option>
                                        <option value="Durable"> Durable </option>
                                    </select>
                                    <div *ngIf="validaDurable.invalid && (validaDurable.dirty || validaDurable.touched) " class="alert alert-danger">
                                        La durabilidad es obligatorio
                          </div>
                                </div>
                            </div>


                            <div class="row" style="margin-top: 5%">
                                
                               

                                <div class="col-lg-4">
                                    <label for="fechaVigencia">Fecha Vigencia</label>
                                    <input type="date"  class="form-control" id="fechaVigencia"  name="fechaVigencia"   [(ngModel)]="producto.fechaVigencia" #validaFecha="ngModel" pattern="^(19|20)(((([02468][048])|([13579][26]))-02-29)|(\d{2})-((02-((0[1-9])|1\d|2[0-8]))|((((0[13456789])|1[012]))-((0[1-9])|((1|2)\d)|30))|(((0[13578])|(1[02]))-31)))$"   />
                                    <div *ngIf="validaFecha.invalid && (validaFecha.dirty || validaFecha.touched) " class="alert alert-danger">
                                        La Fecha es obligatorio
                                     </div>
                                </div>
                            
                                <div class="col-lg-4">
                                        <label for="precio">Precio</label>
                                        <input type="text"  class="form-control" id="precio"  name="precio"  [(ngModel)]="producto.precio" #validaPrecio="ngModel" required pattern="[0-9]{2}"/>

                                        <div *ngIf="validaPrecio.invalid && (validaPrecio.dirty || validaPrecio.touched)" class="alert alert-danger">
                                            <div *ngIf="validaPrecio.errors?.['required']">
                                                Precio es obligatorio
                                            </div>  
                                            <div *ngIf="validaPrecio.errors?.['pattern']">
                                                Precio es de 2 dígitos
                                             </div>    
                                       </div> 
                                </div>
                        
                                <div class="col-lg-4">
                                    <label for="stock">Stock</label>
                                    <input type="text"  class="form-control" id="stock"  name="stock" maxlength="40" [(ngModel)]="producto.stock" #validaStock="ngModel" required pattern="[0-9]{2}"/>

                                    <div *ngIf="validaStock.invalid && (validaStock.dirty || validaStock.touched)" class="alert alert-danger">
                                        <div *ngIf="validaStock.errors?.['required']">
                                            Nº de Stock es obligatorio
                                        </div>  
                                        <div *ngIf="validaStock.errors?.['pattern']">
                                            Nº de Stock es de 2 dígitos
                                         </div>    
                                   </div> 
                                </div>
                        
                                   
                             </div>

                                
                        
                                
                             <div class="row" style="margin-top: 5%">
                               
                            
                                <div class="col-lg-4">
                                    <label for="marca">Marca</label>
                                    <select  id="marca" name="marca" class="form-control"[(ngModel)]="producto.marca!.idMarca" #validaMarca="ngModel" pattern="[0-9]{1,9}" >
                                        <option value="-1"> [Seleccione] </option>   
                                        <option *ngFor="let aux of marcas" value="{{aux.idMarca}}">
                                            {{aux.nombre}}    
                                            </option> 
                                    </select>
                                    <div *ngIf="validaMarca.invalid && (validaMarca.dirty || validaMarca.touched) " class="alert alert-danger">
                                        La marca es obligatorio
                                     </div>
                                </div>
                        
                                <div class="col-lg-4">
                                    <label for="pais">Pais</label>
                                    <select  id="pais" name="pais" class="form-control" [(ngModel)]="producto.pais!.idPais" #validaPais="ngModel" pattern="[0-9]{1,9}"  >
                                        <option value="-1"> [Seleccione] </option>   
                                        <option *ngFor="let aux of paises" value="{{aux.idPais}}">
                                            {{aux.nombre}}    
                                            </option> 
                                    </select>
                                    <div *ngIf="validaPais.invalid && (validaPais.dirty || validaPais.touched) " class="alert alert-danger">
                                        Pais es obligatorio
                                     </div>
                                </div>
                            
                            </div>

                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" id="btn_act_cerrar" style="width: 100px;">Close</button>
                        <button type="reset" class="btn btn-secondary" id="btn_act_limpiar" style="width: 100px;">Limpiar</button>
                        <div class="form-group text-center">
                            <div class="col-lg-12">
                                <button id="id_act_actualiza" class="btn btn-success form-control">Actualizar</button>
                            </div>
                        </div>
                    </div>
                    </form>





                </div>

            </div>
        </div>
    </div>